.site-header {
  background-color: var(--j0w0-primary);
}

.site-header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header h1 {
  margin: 0;
}

.site-header a {
  color: white;
  text-decoration: none;
}

.site-header-menu ul {
  display: flex;
  column-gap: 15px;
  margin: 0;
}

.site-header-menu ul {
  list-style: none;
  padding: 0;
}
