.project-card:hover a p {
  text-decoration: underline;
}

.project-card a {
  text-decoration: none;
}

.project-card p {
  font-weight: 600;
  margin-bottom: 0;
}

.project-card small {
  color: gray;
  font-weight: initial;
  margin-bottom: 16px;
  display: block;
}
