html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  line-height: 1.5;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  padding: 1.45rem 1.0875rem;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-header,
.site-footer {
  background: #4d0c73;
}

.site-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu ul {
  display: flex;
  column-gap: 15px;
}

.header-menu a {
  color: white;
}

.header-menu ul {
  list-style: none;
  padding: 0;
}

.site-content {
  flex: 1;
}

.site-footer,
.site-footer a {
  color: white;
  text-decoration: none;
}

iframe {
  outline: none;
  border: 0;
}

.iframe {
  padding-top: 56.25%;
  position: relative;
}

.iframe-src {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
